site_name: Diving into pygeoapi
site_description: "pygeoapi is an OGC Reference Implementation supporting numerous OGC API specifications. This workshop will cover publishing geospatial data to the Web using pygeoapi in support of the suite of OGC API standards."
site_author: The pygeoapi community
copyright: "&copy; 2022 pygeoapi community"
site_url: https://geopython.github.io/diving-into-pygeoapi
repo_url: https://github.com/geopython/diving-into-pygeoapi
nav:
    - Home: index.md
    - Introduction to pygeoapi: intro/index.md
    - Set up the training environment: setup/index.md
    - Standards: standards/index.md
    - Publishing data: publish/index.md
    - Client access: clients/index.md
    - HTML templating: jinja-templates/index.md
    - Search Engine Optimisation: seo/index.md 
    - Advanced topics: advanced/index.md

# use_directory_urls: true

theme:
    name: material
    palette:
        # See https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#color-scheme
        # Default is indigo (blue)
        scheme: pygeoapi

plugins:
    - search

markdown_extensions:
    - meta # option to add some meta tags on top, title, author, date, etc
    - admonition # adds the note, question, tip boxes, eg: !!! tip "my tip"
    - pymdownx.details # advanced collapsible panels
    - pymdownx.superfences # advanced features; such as line number, flow chart, python shell
    - footnotes # notes bottom of page
    - attr_list # used to size images
    - md_in_html # used to size images

extra_css:
    # pygeoapi primary color with light and dark variations from material.io
    # https://material.io/resources/color/#!/?view.left=0&view.right=1
    - assets/stylesheets/pygeoapi.css
    - assets/stylesheets/termynal.css
    - assets/stylesheets/custom.css

extra_javascript:
    - assets/javascripts/termynal.js
    - assets/javascripts/custom.js
