site_name: Diving into pygeoapi
site_description: "pygeoapi is an OGC Reference Implementation supporting numerous OGC API specifications. This workshop will cover publishing geospatial data to the Web using pygeoapi in support of the suite of OGC API standards."
site_author: The pygeoapi community
copyright: "&copy; 2025 pygeoapi community"
site_url: https://geopython.github.io/diving-into-pygeoapi
repo_url: https://github.com/geopython/diving-into-pygeoapi
nav:
    - Home: index.md
    - Introduction to pygeoapi: introduction.md
    - Workshop environment setup: setup.md
    - Standards: standards.md
    - Publishing:
        - publishing/index.md
        - Exercise 1 - Your first dataset: publishing/first.md
        - Exercise 2 - Vector data via OGC API - Features: publishing/ogcapi-features.md
        - Exercise 3 - Raster data via OGC API - Coverages: publishing/ogcapi-coverages.md
        - Exercise 4 - Maps of geospatial data via OGC API - Maps: publishing/ogcapi-maps.md
        - Exercise 5 - Tiles of geospatial data via OGC API - Tiles: publishing/ogcapi-tiles.md
        - Exercise 6 - Metadata via OGC API - Records: publishing/ogcapi-records.md
        - Exercise 7 - Environmental data via OGC API - Environmental Data Retrieval: publishing/ogcapi-edr.md
        - Exercise 8 - Functions via OGC API - Processes: publishing/ogcapi-processes.md
    - Advanced topics:
        - advanced/index.md
        - Multilingual support: advanced/i18n.md
        - CRS support: advanced/crs.md
        - UI customization and templating: advanced/ui-custom-templates.md
        - Using pygeoapi in downstream applications: advanced/downstream-applications.md
        - Search Engine Optimization (SEO): advanced/seo.md
        - Security and access control: advanced/security-access-control.md
        - Semantic Web and Linked Data: advanced/semantic-web-linked-data.md
        - Cloud deployment: advanced/cloud.md
        - INSPIRE support: advanced/inspire.md
        - Administration: advanced/administration.md
        - Exercise 9 - pygeoapi as a bridge to other services: advanced/bridges.md
    - Conclusion: conclusion.md

use_directory_urls: true

theme:
    name: material
    palette:
        # See https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#color-scheme
        # Default is indigo (blue)
        scheme: pygeoapi
    features:
        - navigation.indexes 
    favicon: assets/favicon.ico
    logo: assets/images/pygeoapi-icon-notrans.png
    language: en

plugins:
    - search
    - i18n:
        languages:
          - locale: en
            name: English
            default: true
            build: true
          - locale: pt
            name: Portuguese
            site_name: Mergulhando na pygeoapi
            build: true
            nav_translations:
                Home: Início
                Introduction to pygeoapi: Introdução á pygeoapi
                Workshop environment setup: Configuração do ambiente da workshop
                Standards: Normas
                Publishing: Publicação
                "Exercise 1 - Your first dataset": "Exercício 1 - O meu primeiro conjunto de dados"
                "Exercise 2 - Vector data via OGC API - Features": "Exercício 2 - Dados vetoriais via OGC API - Features"
                "Exercise 3 - Raster data via OGC API - Coverages": "Exercício 3 - Dados raster via OGC API - Coverages"
                "Exercise 4 - Maps of geospatial data via OGC API - Maps": "Exercício 4 - Mapas de dados geoespaciais via OGC API - Maps"
                "Exercise 5 - Tiles of geospatial data via OGC API - Tiles": "Exercício 5 - Tiles de dados geoespaciais via OGC API - Tiles"
                "Exercise 6 - Metadata via OGC API - Records": "Exercício 6 - Metadados via OGC API - Records"
                "Exercise 7 - Environmental data via OGC API - Environmental Data Retrieval": "Exercício 7 - Dados ambientais via OGC API - Environmental Data Retrieval"
                "Exercise 8 - Functions via OGC API - Processes": "Exercício 8 - Funções via OGC API - Processes"
                "Advanced topics": "Tópicos avançados"
                "Multilingual support": "Suporte multilíngue"
                "CRS support": "Suporte a CRS"
                "UI customization and templating": "Personalização de UI e templating"
                "Using pygeoapi in downstream applications": "Uso da pygeoapi em aplicações downstream"
                "Search Engine Optimization (SEO)": "Otimização para mecanismos de busca (SEO)"
                "Security and access control": "Segurança e controle de acessos"
                "Semantic Web and Linked Data": "Web Semântica e Linked Data"
                "Cloud deployment": "Implantação na cloud"
                "INSPIRE support": "Suporte INSPIRE"
                Administration: Administração
                "Exercise 9 - pygeoapi as a bridge to other services": "Exercício 9 - pygeoapi como uma ponte para outros serviços"
                Conclusion: Conclusão
    - print-site
    
markdown_extensions:
    - meta # option to add some meta tags on top, title, author, date, etc
    - admonition # adds the note, question, tip boxes, eg: !!! tip "my tip"
    - pymdownx.details # advanced collapsible panels
    - pymdownx.superfences # advanced features; such as line number, flow chart, python shell
    - pymdownx.tabbed:
          alternate_style: true
    - footnotes # notes bottom of page
    - attr_list # used to size images
    - md_in_html # used to size images

extra_css:
    # pygeoapi primary color with light and dark variations from material.io
    # https://material.io/resources/color/#!/?view.left=0&view.right=1
    - assets/stylesheets/pygeoapi.css
    - assets/stylesheets/termynal.css
    - assets/stylesheets/custom.css

extra_javascript:
    - assets/javascripts/termynal.js
    - assets/javascripts/custom.js

